<div class="modal-header">
  <h5 class="modal-title">Select boosts</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <div class="flex-row d-flex mb-3" *ngFor="let boostRow of gridBoosts">
    <div class="mx-2" *ngFor="let boost of boostRow">
      <div [class.boost-active]="selectedBoosts.has(boost)" class="img-cell text-center">
        <img
          class="mt-1"
          src="assets/img/boosts/{{ boost }}.png"
          (click)="toggleBoost(boost)"
          [title]="boost.replaceAll('_', ' ')"
        />
      </div>
    </div>
  </div>
</div>
