.modal-body {
  background-color: rgb(77, 67, 54);
}

.boost-active {
  border-radius: 100%;
  background-color: burlywood;
}

.center-img {
  margin: 0 auto;
}

.img-cell {
  width: 35px;
  height: 35px;
}
