/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(192, 168, 134) !important;
}

.modal-content {
  width: fit-content;
  margin: auto;
}

.modal-header {
  background-color: rgb(192, 168, 134);
  border-bottom-width: 0;
}

.modal-body {
  background-color: rgb(141, 122, 95);
}

.table {
  --bs-table-bg: transparent;
}
