<div class="d-flex align-items-center justify-content-center" style="height: 38px">
  <div *ngIf="gearSetup.gear[3]?.icon" class="text-center me-1">
    <img src="data:image/png;base64,{{ gearSetup.gear[3]?.icon }}" />
  </div>
  <div>
    {{ gearSetup.setupName }}
  </div>
</div>

<div class="d-flex align-items-center justify-content-center" style="height: 38px">
  <ng-container *ngIf="gearSetup.spell; else noSpell">
    <div><img src="assets/img/magic_spells/{{ gearSetup.spell }}.png" /> {{ gearSetup.spell }}</div>
  </ng-container>
  <ng-template #noSpell>
    <div>
      {{ gearSetup.attackStyle?.split(" ")[0] }}
    </div>
  </ng-template>
  <div class="mx-1" *ngIf="gearSetup.isSpecial">
    <img src="assets/img/other/special_attack_orb.png" />
  </div>
  <div class="d-flex mx-1">
    <div class="px-1" *ngFor="let prayer of gearSetup.prayers">
      <img src="assets/img/prayer/{{ prayer }}.png" />
    </div>
  </div>
</div>
