<ng-select
  [ngModel]="selectedValue"
  (change)="selectedValueChange($event)"
  [items]="valuesBuffer"
  [virtualScroll]="true"
  [loading]="loading"
  [placeholder]="placeholder"
  [typeahead]="input$"
  (scrollToEnd)="onScrollToEnd(select.searchTerm)"
  #select
>
  <ng-template ng-label-tmp let-item="item">
    <ng-container [ngTemplateOutlet]="dropdownLabel" [ngTemplateOutletContext]="{ item: item }"></ng-container>
  </ng-template>

  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
    <ng-container [ngTemplateOutlet]="dropdownOptions" [ngTemplateOutletContext]="{ item: item }"></ng-container>
  </ng-template>
</ng-select>
