<div>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="col-3"><button type="button" class="btn btn-primary" (click)="loadRlGear()">Load RL gear</button></td>
                <td class="col-7">
                    <ng-select [(ngModel)]="selectedGearSetup" [clearable]="false" (change)="loadGearSetup($event)">
                        <ng-option *ngFor="let gearSetup of gearSetups | keyvalue" [value]="gearSetup.key">{{gearSetup.key}}</ng-option>
                    </ng-select>
                </td>
                <td class="col-2 text-end"><button type="button" class="btn btn-danger" (click)="clearAllGear()">Clear all</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-borderless">
        <tbody>
            <tr *ngFor="let slot of gearSlots">
                <td class="col-1">
                    <div *ngIf="gear[slot]?.id; else other_content">
                        <img src="{{ gear[slot].name | wikiItemIcon }}">
                    </div>
                    <ng-template #other_content> <img src="assets/img/equip/slot_{{slot}}.png"></ng-template>                    
                </td>
                <td class="col-10">
                    <ng-select [(ngModel)]="gear[slot]" [clearable]="false" (change)="selectedGearSetup = this.gearSetups['None'];">
                        <ng-option *ngFor="let item of gearSlotItems[slot]" [value]="item">{{item.name}}</ng-option>
                    </ng-select>
                </td>
                <td class="col-1">
                    <button type="button" class="btn btn-danger" (click)="clearGearSlot(slot)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>