<div>
    <table class="table table-borderless">
        <tbody>
            <tr *ngFor="let slot of gear | keyvalue;" class="col-1">
                <td>
                    <img src="assets/img/equip/slot_{{slot.key}}.png">
                </td>
                <td class="col-3">
                    id: {{slot.value.id}}
                </td>
                <td class="col-8">
                    <ng-select [(ngModel)]="slot.value.id">
                        <ng-option *ngFor="let item of gearSlotItems[slot.key]" [value]="item.id">{{item.name}}</ng-option>
                     </ng-select>
                </td>
            </tr>
        </tbody>
    </table>
</div>