<div class="row">
  <div class="col-auto">
    <label>Conditions</label>
  </div>
  <div class="col ps-0">
    <div class="row align-items-center mb-1" *ngFor="let condition of conditions; first as isFirst">
      <div class="col-2 pe-0">
        <ng-container *ngIf="!isFirst">
          <ng-select [(ngModel)]="condition.nextComparison" [clearable]="false">
            <ng-option
              *ngFor="let conditionComparison of conditionComparisons1 | keyvalue"
              [value]="conditionComparison.key"
            >
              {{ conditionComparison.value }}
            </ng-option>
          </ng-select>
        </ng-container>
      </div>

      <div class="col px-1">
        <ng-select [(ngModel)]="condition.variable" [clearable]="false">
          <ng-option *ngFor="let conditionVariable of conditionVariables | keyvalue" [value]="conditionVariable.key">
            {{ conditionVariable.value }}
          </ng-option>
        </ng-select>
      </div>

      <div class="col-2 px-1">
        <ng-select [(ngModel)]="condition.comparison" [clearable]="false">
          <ng-option
            *ngFor="let conditionComparison of conditionComparisons2 | keyvalue"
            [value]="conditionComparison.key"
          >
            {{ conditionComparison.value }}
          </ng-option>
        </ng-select>
      </div>

      <div class="col-2 px-1">
        <input type="number" [(ngModel)]="condition.value" class="form-control" placeholder="" />
      </div>

      <div class="col-auto ps-1">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeCondition(condition)">X</button>
      </div>
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-primary w-50"
        (click)="addCondition()"
        [disabled]="conditions.length >= maxConditions"
      >
        <i class="bi bi-plus"></i> Add condition
      </button>
    </div>
  </div>
</div>
