<div class="row align-items-center">
  <div class="col-auto">Npc</div>
  <div class="col ps-0" style="height: '38px'">
    <ng-container *ngIf="allNpcs; else showSpinner">
      <app-ng-select-lazy-load
        [valueType]="Npc"
        [allValues]="allNpcs"
        [selectedValue]="npcInfo.npc"
        [valueFilter]="npcFilter"
        placeholder="Select npc"
        (valueChanged)="selectedNpcChange($event)"
      >
        <ng-template #dropdownLabel #dropdownOptions let-item="item">
          {{ item.name }}
          <span *ngIf="item.isTobEntryMode">(Entry Mode) </span>
          <span *ngIf="item.isTobNormalMode">(Normal Mode) </span>
          <span *ngIf="item.isTobHardMode">(Hard Mode) </span>
          -&nbsp;
          <img src="assets/img/skills/combat.png" /> {{ item.combat ? item.combat : "N/A" }}&nbsp;
          <img src="assets/img/skills/hitpoints.png" /> {{ item.hitpoints }}&nbsp;
          <ng-container *ngIf="item?.isKalphite">
            <img class="me-2" src="assets/img/npc_race/kalphite.png" title="Kalphite" />
          </ng-container>
          <ng-container *ngIf="item?.isDemon">
            <img class="me-2" src="assets/img/npc_race/demon.png" title="Demon" />
          </ng-container>
          <ng-container *ngIf="item?.isDragon">
            <img class="me-2" src="assets/img/npc_race/dragon.png" title="Dragon" />
          </ng-container>
          <ng-container *ngIf="item?.isUndead">
            <img class="me-2" src="assets/img/npc_race/undead.png" title="Undead" />
          </ng-container>
          <ng-container *ngIf="item?.isLeafy">
            <img class="me-2" src="assets/img/npc_race/leafy.png" title="Leafy" />
          </ng-container>
          <ng-container *ngIf="item?.isXerician">
            <img class="me-2" src="assets/img/npc_race/xerician.png" title="Xerician" />
          </ng-container>
          <ng-container *ngIf="item?.isShade">
            <img class="me-2" src="assets/img/npc_race/shade.png" title="Shade" />
          </ng-container>
        </ng-template>
      </app-ng-select-lazy-load>
    </ng-container>

    <ng-template #showSpinner>
      <div class="spinner-border ms-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-template>
  </div>
  <div class="row align-items-center mt-1" *ngIf="showRaidLevel || showPathLevel || showIsChallengeMode">
    <div class="col-4" *ngIf="showRaidLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="raidLevel">Raid Level</label></div>
        <div class="col">
          <input
            id="raidLevel"
            class="form-control"
            type="number"
            [(ngModel)]="npcInfo.raidLevel"
            (change)="onNpcInfoChanged()"
            min="0"
          />
        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="showPathLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="pathLevel">Path Level</label></div>
        <div class="col">
          <input
            id="pathLevel"
            class="form-control"
            type="number"
            [(ngModel)]="npcInfo.pathLevel"
            (change)="onNpcInfoChanged()"
            min="0"
            max="6"
          />
        </div>
      </div>
    </div>

    <div class="col" *ngIf="showRaidLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0">
          <label for="overlyDraining">
            <img src="assets/img/other/overly_draining.png" title="Overly Draining" />
          </label>
        </div>
        <div class="col">
          <input
            id="overlyDraining"
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="npcInfo.overlyDraining"
            (change)="onNpcInfoChanged()"
          />
        </div>
      </div>
    </div>

    <div class="col-5" *ngIf="showIsChallengeMode">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="isCm">Challenge Mode</label></div>
        <div class="col">
          <input
            id="isCm"
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="npcInfo.isChallengeMode"
            (change)="onNpcInfoChanged()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
