<div class="container">
  <div class="row align-items-center justify-content-center mb-4">
    <div class="col-2 text-end mt-3"><img class="img-fluid w-50" src="assets/img/dragon_claws_detail.png" /></div>
    <div class="col-auto"><h1 class="display-1">Damage Simulator</h1></div>
  </div>

  <!-- TODO remove this -->
  <!-- <app-sim-results [damageSimResults]="damageSimResults" [dpsResults]="dpsResults"></app-sim-results> -->
  <div class="mb-2">
    <app-dps-results [dpsResults]="dpsResults"></app-dps-results>
  </div>

  <hr class="row mb-4" />

  <div class="d-flex justify-content-between mb-5">
    <div class="col-6">
      <app-example-setups></app-example-setups>
    </div>

    <div>
      <app-share-input-setup></app-share-input-setup>
    </div>
  </div>

  <app-global-settings></app-global-settings>

  <div class="mb-4">
    <div class="d-flex mb-1">
      <div class="flex-fill btn-group btn-group-lg" role="group">
        <ng-container *ngIf="loading">
          <button class="btn btn-primary" type="button" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only"> Loading...</span>
          </button>
        </ng-container>
        <ng-container *ngIf="!loading">
          <button class="btn btn-primary" type="button" (click)="runDpsCalc()">
            <span class="sr-only">Run Dps Calculator</span>
          </button>
          <button class="btn btn-primary" type="button" (click)="runDamageSim()">
            <span class="sr-only">Run Damage Simulator</span>
          </button>
        </ng-container>
      </div>
    </div>

    <div *ngIf="loading">&nbsp;</div>

    <ng-container *ngIf="!loading">
      <div class="text-danger" *ngIf="damageSimResults?.error">Error: {{ damageSimResults.error }}</div>
      <div class="text-danger" *ngIf="dpsResults?.error">Error: {{ dpsResults.error }}</div>
      <div class="text-success" *ngIf="damageSimResults && !damageSimResults?.error">
        Damage simulation done, results above!
      </div>
      <div class="text-success" *ngIf="dpsResults && !dpsResults?.error">Dps calculator done, results above!</div>
    </ng-container>
  </div>

  <app-gear-setup-tabs></app-gear-setup-tabs>
</div>
