<div class="mb-4">
  <div class="row mb-1">
    <div class="col-2">Npc Settings</div>
    <div class="col-10 col-xxl-6">
      <div class="form-check form-switch mb-1">
        <label for="multi-npc">Multi Npc mode</label>
        <input
          class="form-check-input"
          type="checkbox"
          id="multi-npc"
          [(ngModel)]="isMultiNpc"
          (change)="multiNpcs = []"
        />
      </div>

      @if (isMultiNpc) {
        <app-multi-npc-input
          [multiNpcs]="multiNpcs"
          (npcInfoChanged)="npcInfoChanged($event)"
          (multiNpcsChanged)="multiNpcsChanged($event)"
        ></app-multi-npc-input>
      } @else {
        <app-npc-input [npcInfo]="npcInfo" (npcInfoChanged)="npcInfoChanged($event)"></app-npc-input>
      }
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">General Settings</div>

  <div class="col col-sm-3">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="teamSize">Team size</label></div>
      <div class="col">
        <input
          id="teamSize"
          class="form-control"
          type="number"
          [(ngModel)]="globalSettings.teamSize"
          min="1"
          max="100"
        />
      </div>
    </div>
  </div>
</div>
