<div>
  <h5 class="text-center">Sim Setup</h5>
  <ng-container *ngFor="let simSetup of gearSimSetups; index as i">
    <div class="mb-4">
      <div class="d-flex align-items-center mb-2">
        <div class="me-2">Select preset:</div>
        <div class="flex-fill">
          <app-ng-select-lazy-load
            [valueType]="GearSetup"
            [allValues]="allGearPresets"
            [selectedValue]="selectedGearPresets[i]"
            searchProperty="setupName"
            placeholder="Select preset"
            (valueChanged)="selectedGearPresetChange($event, i)"
          >
            <ng-template #dropdownLabel #dropdownOptions let-item="item">
              <div class="d-flex align-items-center">
                {{ item.setupName }}
              </div>
            </ng-template>
          </app-ng-select-lazy-load>
        </div>

        <div class="flex-shrink-1 ms-2">
          <button type="button" class="btn btn-sm btn-danger" (click)="removeSimSetup(i)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>

      <div class="d-flex">
        <div class="me-3">
          <app-gear-setup-label [gearSetup]="selectedGearPresets[i]"></app-gear-setup-label>
        </div>
        <div class="flex-fill"><app-condition></app-condition></div>
      </div>
    </div>
  </ng-container>

  <div class="d-flex">
    <button
      type="button"
      class="btn btn-primary text-center"
      *ngIf="gearSimSetups.length < maxSimSetups"
      (click)="addNewSimSetup()"
    >
      <i class="bi bi-plus"></i> Add Sim Setup
    </button>
  </div>
</div>
