<div>
  <nav class="navbar navbar-expand-sm bg-light mb-3 rounded">
    <div class="container-fluid">
      <ul class="navbar-nav nav-tabs flex-wrap">
        <li class="nav-item" *ngFor="let tab of gearSetupTabs">
          <div class="d-flex align-items-center justify-content-between px-3 pb-2">
            <button
              type="button"
              class="btn btn-primary me-2"
              [disabled]="gearSetupTabs.length >= maxSetupTabs"
              (click)="copyTab(tab)"
            >
              <i class="bi bi-clipboard-plus"></i>
            </button>
            <div>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="closeTab(tab)">
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>

          <a
            class="nav-link"
            role="button"
            [ngClass]="{
              active: tab.active
            }"
            (click)="selectTab(tab)"
          >
            <div class="text-center fs-5">Setup - {{ tab.id }}</div>
          </a>
        </li>
        <div class="me-auto">
          <button
            type="button"
            class="btn btn-primary btn-lg ms-3 my-2"
            *ngIf="gearSetupTabs.length < maxSetupTabs"
            (click)="openNewSetupTab()"
          >
            <i class="bi bi-plus"></i> Add setup
          </button>
        </div>
      </ul>
    </div>
  </nav>
  <ng-template #gearSetupTabContainer></ng-template>
</div>
