<div class="modal-header">
  <h5 class="modal-title">Changelog</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<!-- TODO styling and maybe a template for the format? -->
<div class="modal-body">
  <div class="mb-2">
    <div>
      <div>26 June 2024</div>
      <div>
        <ul>
          <li>Moved result graphs in a tab view</li>
        </ul>
      </div>
    </div>

    <hr class="my-3" />

    <div>
      <div>12 June 2024</div>
      <div>
        <ul>
          <li>Added changelog</li>
          <li>Added wiki dps setup button</li>
        </ul>
      </div>
    </div>

    <hr class="my-3" />

    <div>
      <div>10 June 2024</div>
      <div>
        <ul>
          <li>Added most combat rebalance changes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
