<div class="modal-header">
  <h5 class="modal-title">Changelog</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <div class="px-2" style="max-height: 50vh; overflow-y: auto">
    <div *ngFor="let log of changeLogData">
      <div>
        <div>{{ log.title }}</div>
        <div>
          <ul>
            <li *ngFor="let b of log.body">{{ b }}</li>
          </ul>
        </div>
      </div>
      <hr class="my-3" />
    </div>
  </div>
</div>
