@if (gearSetupSettings && gearSetup) {
  <div class="d-flex align-items-center">
    @if (gearSetup.setupName) {
      <div>{{ gearSetup.setupName }}</div>
    }
    <div class="px-1" *ngIf="gearSetup.isSpecial">
      <img src="assets/img/other/special_attack_orb.png" />
    </div>
    <div class="d-flex mx-1">
      <div class="px-1" *ngFor="let prayer of gearSetup.prayers">
        <img src="assets/img/prayer/{{ prayer }}.png" />
      </div>
    </div>
    <div class="d-flex mx-1">
      <div class="px-1" *ngFor="let boost of gearSetupSettings.boosts">
        <img src="assets/img/boosts/{{ boost }}.png" [title]="boost.replaceAll('_', ' ')" />
      </div>
    </div>
    <div class="d-flex mx-1">
      <div class="px-1" *ngFor="let statDrain of gearSetupSettings.statDrains">
        <img src="assets/img/stat_drain/{{ statDrain.name.replaceAll(' ', '_') | lowercase }}.png" />
        {{ statDrain.value }}
      </div>
    </div>
  </div>
}
