<div class="me-4" *ngIf="gearInputSetup">
  <div class="row mb-2 justify-content-center">
    <div class="col-auto"><h3 class="text-end">Gear Setup:</h3></div>
    <div class="col-5">
      <input class="form-control" type="text" [(ngModel)]="gearInputSetup.setupName" placeholder="Setup name" />
    </div>
  </div>

  <div class="mb-2 d-flex">
    <div class="row flex-grow-1 align-items-center">
      <div class="col-auto pe-0"><label>Load setup:</label></div>
      <div class="col col-md-10 col-lg-6">
        <ng-select [(ngModel)]="selectedGearSetupPreset" [clearable]="false" (change)="loadGearSetup($event)">
          <ng-option *ngFor="let gearSetup of gearSetupPresets | keyvalue" [value]="gearSetup.key">{{
            gearSetup.key
          }}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="ms-4">
      <button type="button" class="btn btn-primary" (click)="duplicateGearSetup()">
        Duplicate <i class="bi bi-clipboard-plus"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 d-flex">
    <div class="me-auto">
      <button type="button" class="btn btn-primary w-100" (click)="loadRlGear()">Load RL gear</button>
    </div>

    <div class="div">
      <button type="button" class="btn btn-danger" (click)="removeGearSetup()">Remove gear setup</button>
    </div>
  </div>

  <div class="mb-3" *ngIf="allGearSlotItems">
    <div class="d-flex flex-wrap mb-2 align-items-center" *ngFor="let slot of allGearSlots">
      <div class="col-1 text-center">
        <ng-container *ngIf="gearInputSetup.gear[slot]; else placeholder">
          <img src="data:image/png;base64,{{ gearInputSetup.gear[slot].icon }}" />
        </ng-container>
        <ng-template #placeholder><img src="assets/img/equip/slot_{{ slot }}.png" /></ng-template>
      </div>

      <div class="flex-grow-1">
        <ng-select
          (change)="gearSlotChange($event, slot)"
          [items]="allGearSlotItems[slot]"
          [(ngModel)]="gearInputSetup.gear[slot]"
          bindLabel="name"
        >
          <ng-template ng-label-tmp let-item="item">{{ item.name }}</ng-template>
          <ng-template ng-option-tmp let-item="item">
            <div class="d-flex align-items-center">
              <div class="text-center" style="flex: 0 0 35px">
                <img src="data:image/png;base64,{{ item.icon }}" />
              </div>
              <div class="ps-2">{{ item.name }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <app-special-gear
        class="d-flex"
        [gearInputSetup]="gearInputSetup"
        [specialGear]="specialGear"
        [slot]="slot"
        [allDarts]="allDarts"
      ></app-special-gear>
    </div>
  </div>

  <div class="mb-3">
    <div class="row mb-3 align-items-center">
      <div class="col-3"><label for="attackStyle">Attack style</label></div>
      <div class="col-9">
        <ng-select [(ngModel)]="gearInputSetup.attackStyle" (change)="gearInputSetup.spell = null">
          <ng-option *ngFor="let style of attackStyles" [value]="style">{{ style }}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3"><label for="attackStyle">Spell</label></div>
      <div class="col-9">
        <ng-select [items]="allSpells" [(ngModel)]="gearInputSetup.spell" (change)="selectedSpellChange()">
          <ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index">
            <div class="row">
              <div class="col-1"><img src="assets/img/magic_spells/{{ item }}.png" /></div>
              <div class="col-auto">{{ item }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3">Prayer</div>
      <div class="col">
        <app-prayer-selection
          [selectedPrayers]="gearInputSetup.prayers"
          (prayerToggle)="togglePrayer($event)"
        ></app-prayer-selection>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3">Boosts</div>
      <div class="col">
        <app-boost-selection
          [selectedBoosts]="gearInputSetup.boosts"
          (boostToggle)="toggleBoost($event)"
        ></app-boost-selection>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3">Combat Stats</div>
      <div class="col">
        <app-combat-stat-selection
          [combatStats]="gearInputSetup.combatStats"
          (combatStatsChanged)="combatStatsChanged($event)"
        ></app-combat-stat-selection>
      </div>
    </div>

    <div class="row mb-3 align-items-center justify-content-start">
      <div class="col-3">Other</div>
      <div class="col-auto text-end"><label for="isFill">Fill weapon</label></div>
      <div class="col-auto">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="gearInputSetup.isFill"
          id="isFill"
          [disabled]="gearInputSetup.isSpecial"
        />
      </div>
    </div>
    <div class="row mb-3">
      <app-condition
        [initialConditions]="gearInputSetup.conditions"
        [isFill]="gearInputSetup.isFill"
        (conditionsChanged)="updateConditions($event)"
      ></app-condition>
    </div>
  </div>
</div>
