<div class="me-4" *ngIf="gearSetup">
  <div class="row mb-2 justify-content-center">
    <div class="col-auto">
      <h3 class="text-end">{{ isMainGearSetup ? "Main" : "Fill" }} Gear Setup:</h3>
    </div>
    <div class="col-5">
      <input class="form-control" type="text" [(ngModel)]="gearSetup.setupName" placeholder="Setup name" />
    </div>
  </div>

  <div class="mb-2 d-flex align-items-center">
    <div><label>Load setup:</label></div>
    <div class="ms-2 flex-grow-1">
      <ng-select
        [(ngModel)]="gearSetup.presetName"
        [clearable]="false"
        [items]="gearSetupPresets"
        bindValue="name"
        bindLabel="name"
        groupBy="attackType"
        (change)="loadGearSetupPreset($event)"
      >
        <ng-template ng-label-tmp let-item="item">{{ item.name }}</ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex align-items-center">
            <div class="text-center" style="width: 35px">
              <img src="data:image/png;base64,{{ item.icon }}" />
            </div>
            <div class="ps-2">{{ item.name }}</div>
          </div>
        </ng-template>

        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
          <div class="d-flex align-items-center">
            <img style="width: 15px; height: auto" src="assets/img/skills/{{ item.attackType }}.png" />
            <div class="ms-1">{{ item.attackType | titlecase }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <div class="ms-2">
      <button type="button" class="btn btn-primary" (click)="duplicateGearSetup()">
        Duplicate <i class="bi bi-clipboard-plus"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 d-flex">
    <div class="me-auto">
      <app-quick-gear-select
        [attackType]="attackType"
        (selectSetup)="selectQuickGearSetup($event)"
      ></app-quick-gear-select>
    </div>

    <div *ngIf="!isMainGearSetup" class="div">
      <button type="button" class="btn btn-danger" (click)="removeGearSetup()">Remove</button>
    </div>
  </div>

  <div class="mb-3" *ngIf="allGearSlotItems">
    <div class="d-flex flex-wrap mb-2 align-items-center" *ngFor="let slot of allGearSlots">
      <div class="col-1 text-center">
        <ng-container *ngIf="gearSetup.gear[slot]; else placeholder">
          <img src="data:image/png;base64,{{ gearSetup.gear[slot].icon }}" />
        </ng-container>
        <ng-template #placeholder><img src="assets/img/equip/slot_{{ slot }}.png" /></ng-template>
      </div>

      <div class="flex-grow-1">
        <app-ng-select-lazy-load
          [selectedValue]="gearSetup.gear[slot]"
          [valueType]="Item"
          [allValues]="allGearSlotItems[slot]"
          searchProperty="name"
          (valueChanged)="gearSlotChange($event, slot)"
        >
          <ng-template #dropdownLabel let-item="item">{{ item.name }}</ng-template>
          <ng-template #dropdownOptions let-item="item">
            <div class="d-flex align-items-center">
              <div class="text-center" style="flex: 0 0 35px">
                <img src="data:image/png;base64,{{ item.icon }}" />
              </div>
              <div class="ps-2">{{ item.name }}</div>
            </div>
          </ng-template>
        </app-ng-select-lazy-load>
      </div>

      <app-special-gear
        class="d-flex"
        [isMainGearSetup]="isMainGearSetup"
        [gearSetup]="gearSetup"
        [specialGear]="specialGear"
        [slot]="slot"
        [allDarts]="allDarts"
      ></app-special-gear>
    </div>
  </div>

  <div class="mb-3">
    <div class="row mb-3 align-items-center">
      <div class="col-3"><label for="attackStyle">Attack style</label></div>
      <div class="col-9">
        <ng-select [(ngModel)]="gearSetup.attackStyle" (change)="gearSetup.spell = null">
          <ng-option *ngFor="let style of attackStyles" [value]="style">{{ style }}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3"><label for="attackStyle">Spell</label></div>
      <div class="col-9">
        <ng-select [items]="allSpells" [(ngModel)]="gearSetup.spell" (change)="selectedSpellChange()">
          <ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index">
            <div class="row">
              <div class="col-1"><img src="assets/img/magic_spells/{{ item }}.png" /></div>
              <div class="col-auto">{{ item }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3">Prayer</div>
      <div class="col">
        <app-prayer-selection
          [selectedPrayers]="gearSetup.prayers"
          (prayerToggle)="togglePrayer($event)"
        ></app-prayer-selection>
      </div>
    </div>

    <div *ngIf="!isMainGearSetup" class="row mb-3">
      <app-condition
        [initialConditions]="gearSetup.conditions"
        (conditionsChanged)="updateConditions($event)"
      ></app-condition>
    </div>
  </div>
</div>
