<div class="container">
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-2 text-end mt-3"><img class="img-fluid w-50" src="assets/img/dragon_claws_detail.png" /></div>
    <div class="col-auto"><h1 class="display-1">Damage Simulator</h1></div>
  </div>

  <app-sim-results [damageSimResults]="damageSimResults"></app-sim-results>

  <hr class="row mb-5" />

  <app-global-settings (submitClicked)="runDamageSim($event)"></app-global-settings>
  <app-gear-setup-tabs #gearSetupTabs></app-gear-setup-tabs>

  <hr class="row my-4" />
</div>

<footer class="text-center">
  <div class="row align-items-center justify-content-center">
    <div class="col-auto px-0">Created by Maurits825</div>
    <div class="col-auto px-0">
      <a class="btn btn-link btn-lg text-dark" target="_blank" href="https://github.com/Maurits825/osrs-damage-sim">
        <i class="bi bi-github"></i
      ></a>
    </div>
  </div>

  <div class="text-center">
    <p>
      <small>
        <em>RuneScape</em> and <em>OSRS</em> are registered trademarks of Jagex Limited. <br />
        This website is in no way affiliated with, authorised, maintained, sponsored or endorsed by Jagex Limited or any
        of its affiliates or subsidiaries.
      </small>
    </p>
  </div>
</footer>
