<div class="container">
  <h1 class="text-center display-1 mb-5">Damage Simulator</h1>
  <div class="row mb-1">
    <div class="col">Results</div>
  </div>
  <div class="row mb-3" *ngIf="damageSimResults?.textResults">
    <div class="row" *ngFor="let text of damageSimResults.textResults">
      <div class="col">{{text}}</div>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-2">Iterations</label>
    <div class="col-2"><input class="form-control" type="number" [(ngModel)]="iterations" min="1"></div>
    <label class="col-2">Team size</label>
    <div class="col-2"><input class="form-control" type="number" [(ngModel)]="teamSize" min="1"></div>
    <button class="col-3 btn btn-primary" type="button" (click)="submit()" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!loading" class="sr-only"> Run Damage Simulator</span>
      <span *ngIf="loading" class="sr-only"> Loading...</span>
    </button>
  </div>
  <app-npc-input></app-npc-input>
  <app-gear-setup-tabs #gearSetupTabs></app-gear-setup-tabs>
</div>
