<div class="row align-items-center mb-4">
  <div class="col-2">Graph type</div>
  <div class="col-4">
    <app-ng-select-lazy-load
      [valueType]="GraphType"
      [allValues]="GraphTypes"
      [selectedValue]="selectedGraph"
      [clearable]="false"
      searchProperty="type"
      placeholder="Select input value"
      (valueChanged)="selectedGraphChange($event)"
    >
      <ng-template #dropdownLabel #dropdownOptions let-item="item">
        <div class="d-flex align-items-center">
          <div class="text-center" style="width: 35px">
            <img src="assets/img/dps_grapher_input/{{ item.type.replaceAll(' ', '_') | lowercase }}.png" />
          </div>
          <div class="ps-2">{{ item.type }}</div>
        </div>
      </ng-template>
    </app-ng-select-lazy-load>
  </div>
</div>
