<div class="modal-header">
  <h5 class="modal-title">Import & Export Setup</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <div class="card bg-transparent mb-3">
    <div class="card-body pb-2">
      <div>
        <h5>Import</h5>
      </div>
      <div class="d-flex">
        <div class="input-group mb-1">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': isValidSetup !== undefined && !isValidSetup,
              'is-valid': isValidSetup !== undefined && isValidSetup
            }"
            placeholder="Setup string"
            #setUpString
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="onLoadSetup(setUpString.value)">Load Setup</button>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf="isValidSetup === undefined">&nbsp;</div>
        <div *ngIf="isValidSetup !== undefined && !isValidSetup" class="text-danger">Invalid setup string</div>
        <div *ngIf="isValidSetup !== undefined && isValidSetup" class="text-success">Loaded setup</div>
      </div>
    </div>
  </div>

  <div class="card bg-transparent">
    <div class="card-body">
      <div>
        <h5>Export</h5>
      </div>
      <div class="d-flex">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Setup string</span>
          </div>
          <input
            type="text"
            [value]="setupString"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
          />
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary ms-2"
            title="Copy to clipboard"
            (click)="onCopySetupToClipboard()"
          >
            <i class="bi bi-clipboard"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
