<div class="container">
  <div class="d-flex align-items-center justify-content-center mb-4">
    <div>
      <img style="width: 70px" class="img-fluid" src="assets/img/menu/dps-detail.png" />
    </div>
    <div class="ms-2"><h1 class="display-1">Dps Calculator</h1></div>
  </div>

  <div class="mb-2">
    <app-dps-results [dpsResults]="dpsResults"></app-dps-results>
  </div>

  <hr class="row mb-4" />

  <div class="d-flex justify-content-between mb-5 flex-wrap">
    <div class="flex-fill">
      <app-example-setups></app-example-setups>
    </div>
    <div class="flex-grow-1"></div>

    <div class="flex-shrink-1 ms-1">
      <app-share-input-setup></app-share-input-setup>
    </div>
    <div class="flex-shrink-1 ms-1">
      <app-wiki-dps-shortlink></app-wiki-dps-shortlink>
    </div>
  </div>

  <app-global-settings></app-global-settings>

  <div class="mb-4">
    <div class="d-flex mb-1">
      <div class="flex-fill btn-group btn-group-lg" role="group">
        <ng-container *ngIf="loading">
          <button class="btn btn-primary" type="button" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only"> Loading...</span>
          </button>
        </ng-container>
        <ng-container *ngIf="!loading">
          <button class="btn btn-primary" type="button" (click)="runDpsCalc()">
            <span class="sr-only">Run Dps Calculator</span>
          </button>
        </ng-container>
      </div>
    </div>

    <div *ngIf="loading">&nbsp;</div>

    <ng-container *ngIf="!loading">
      <div class="text-success" *ngIf="dpsResults && !dpsResults?.error">Dps calculator done, results above!</div>
      <div class="text-danger" *ngIf="dpsResults?.error">{{ dpsResults.error }}</div>
    </ng-container>
  </div>

  <app-gear-setup-tabs></app-gear-setup-tabs>
</div>
