<ng-container *ngIf="statDrains">
  <div class="d-flex mb-1" *ngFor="let statDrain of statDrains">
    <div class="col-6 col-md-8 pe-0">
      <ng-select
        [items]="allStatDrains"
        [(ngModel)]="statDrain.name"
        bindValue="name"
        [searchable]="false"
        [clearable]="false"
        (change)="onStatDrainsChanged()"
      >
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          <div class="d-flex align-items-center">
            <div class="text-center" style="width: 35px">
              <img src="assets/img/stat_drain/{{ item.replaceAll(' ', '_') | lowercase }}.png" />
            </div>
            <div class="ps-2">{{ item }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-6 col-md-4 px-0 d-flex align-items-center">
      <div class="ms-2 pe-1">{{ statDrainLabels[statDrain.name] }}</div>

      <div class="flex-shrink-1 px-1">
        <input
          type="number"
          [(ngModel)]="statDrain.value"
          (change)="onStatDrainsChanged()"
          class="form-control"
          min="1"
        />
      </div>

      <div class="ps-1">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeStatDrain(statDrain)">X</button>
      </div>
    </div>
  </div>

  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addStatDrain()"
      [disabled]="statDrains.length >= maxStatDrains"
    >
      <i class="bi bi-plus"></i> Add Stat drain
    </button>
  </div>
</ng-container>
