<div class="modal-header">
  <h5 class="modal-title">Settings</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <div class="mb-2" *ngIf="userSettings$ | async as userSettings">
    <div class="d-flex align-items-center mb-2">
      <div><label for="showAdvancedOptions">Show advanded options</label></div>
      <div class="ms-2">
        <input
          id="showAdvancedOptions"
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="userSettings.showAdvancedOptions"
          (change)="updateUserSettings(userSettings)"
        />
      </div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <div><label for="showTrailblazerReloadedRelics">Show Trailblazer Reloaded relics</label></div>
      <div class="ms-2">
        <input
          id="showTrailblazerReloadedRelics"
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="userSettings.showTrailblazerReloadedRelics"
          (change)="updateUserSettings(userSettings)"
        />
      </div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <div><label for="showLoadFromRunelite">Show load from Runelite button</label></div>
      <div class="ms-2">
        <input
          id="showLoadFromRunelite"
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="userSettings.showLoadFromRunelite"
          (change)="updateUserSettings(userSettings)"
        />
      </div>
    </div>

    <hr class="my-3" />

    <div class="d-flex align-items-center mb-2">
      <div>Delete all saved gear setups</div>
      <button class="btn btn-danger ms-2" (click)="openConfirmationModal(deleteAllConfirmation)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #deleteAllConfirmation let-modal>
  <div class="modal-body">
    <div class="mb-2">Delete all saved gear setups</div>
    <div class="d-flex">
      <button class="btn btn-danger" (click)="deleteAllGearSetups(); modal.close('Close click')">Delete all</button>
      <button class="btn btn-secondary ms-2 flex-grow-1" (click)="modal.close('Close click')">Cancel</button>
    </div>
  </div>
</ng-template>
