<div class="row align-items-center">
  <div class="col-auto">Npc</div>
  <div class="col pe-0" style="height: '38px'">
    <ng-container *ngIf="allNpcs">
      <app-ng-select-lazy-load
        [valueType]="Npc"
        [allValues]="allNpcs"
        searchProperty="name"
        placeholder="Select npc"
        (valueChanged)="selectedNpcChange($event)"
      >
        <ng-template #dropdownLabel #dropdownOptions let-item="item"
          >{{ item.name }}
          <span *ngIf="item.isChallengeMode">(Challenge Mode) </span>
          <span *ngIf="item.isTobEntryMode">(Entry Mode) </span>
          <span *ngIf="item.isTobNormalMode">(Normal Mode) </span>
          <span *ngIf="item.isTobHardMode">(Hard Mode) </span>
          -&nbsp;
          <img src="assets/img/skills/combat.png" /> {{ item.combat ? item.combat : "N/A" }}&nbsp;
          <img src="assets/img/skills/hitpoints.png" /> {{ item.hitpoints }}</ng-template
        >
      </app-ng-select-lazy-load>
    </ng-container>
  </div>

  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isKalphite">
    <img src="assets/img/npc_race/kalphite.png" title="Kalphite" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isDemon">
    <img src="assets/img/npc_race/demon.png" title="Demon" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isDragon">
    <img src="assets/img/npc_race/dragon.png" title="Dragon" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isUndead">
    <img src="assets/img/npc_race/undead.png" title="Undead" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isLeafy">
    <img src="assets/img/npc_race/leafy.png" title="Leafy" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isXerician">
    <img src="assets/img/npc_race/xerician.png" title="Xerician" />
  </div>
  <div class="col-auto" *ngIf="allNpcs && selectedNpc?.isShade">
    <img src="assets/img/npc_race/shade.png" title="Shade" />
  </div>
</div>
