<div [hidden]="!active">
  <div class="mb-2">
    <app-gear-setup-settings></app-gear-setup-settings>
  </div>

  <div class="row justify-content-center">
    <div class="p-0 col-xl-7 col-lg-10 col-12">
      <ng-template #gearSetupsContainer></ng-template>
    </div>
    <!-- TODO also keep for future -->
    <div *ngIf="false">
      <button
        type="button"
        class="btn btn-primary mb-2"
        [disabled]="gearSetups.length >= maxGearSetups"
        (click)="addNewGearSetup()"
      >
        <i class="bi bi-plus"></i> Add fill gear setup
      </button>
    </div>
  </div>
</div>
