<div class="row mb-2 align-items-center">
  <div class="col-2">Global settings</div>
  <label class="col-1 text-end">Iterations</label>
  <div class="col-2"><input class="form-control" type="number" [(ngModel)]="globalSettings.iterations" min="1" /></div>
  <label class="col-1 text-end">Team size</label>
  <div class="col-1"><input class="form-control" type="number" [(ngModel)]="globalSettings.teamSize" min="1" /></div>
</div>

<div class="row align-items-center mb-2">
  <div class="col">
    <app-npc-input (npcChanged)="npcChanged($event)"></app-npc-input>
  </div>

  <div class="col-2" *ngIf="showRaidLevel">
    <div class="row align-items-center">
      <div class="col text-end"><label>Raid Level</label></div>
      <div class="col"><input class="form-control" type="number" [(ngModel)]="globalSettings.raidLevel" min="0" /></div>
    </div>
  </div>
  <div class="col-2" *ngIf="showPathLevel">
    <div class="row align-items-center">
      <div class="col text-end"><label>Path Level</label></div>
      <div class="col"><input class="form-control" type="number" [(ngModel)]="globalSettings.pathLevel" min="0" /></div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <app-boost-item
    [selectedBoosts]="selectedBoosts"
    (boostAdded)="boostAdded($event)"
    (boostRemoved)="boostRemoved($event)"
  ></app-boost-item>
</div>
