.modal-body {
  background-color: rgb(77, 67, 54);
}

.prayer-active {
  border-radius: 100%;
  background-color: burlywood;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.prayer-disabled {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
