<div class="mb-4">
  <div class="row mb-1 align-items-center">
    <div class="col-2">Npc Settings</div>
    <app-npc-input
      class="col-10 col-xxl-6"
      [selectedNpc]="globalSettings.npc"
      (npcChanged)="npcChanged($event)"
    ></app-npc-input>
  </div>

  <div class="row align-items-center" *ngIf="showRaidLevel || showPathLevel || showIsChallengeMode">
    <div class="col-2">Other Settings</div>
    <div class="col-4 col-xxl-3" *ngIf="showRaidLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="raidLevel">Raid Level</label></div>
        <div class="col">
          <input id="raidLevel" class="form-control" type="number" [(ngModel)]="globalSettings.raidLevel" min="0" />
        </div>
      </div>
    </div>

    <div class="col-4 col-xxl-3" *ngIf="showPathLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="pathLevel">Path Level</label></div>
        <div class="col">
          <input
            id="pathLevel"
            class="form-control"
            type="number"
            [(ngModel)]="globalSettings.pathLevel"
            min="0"
            max="6"
          />
        </div>
      </div>
    </div>

    <div class="col col-xxl-3" *ngIf="showRaidLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0">
          <label for="overlyDraining">
            <img src="assets/img/other/overly_draining.png" title="Overly Draining" />
          </label>
        </div>
        <div class="col">
          <input
            id="overlyDraining"
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="globalSettings.overlyDraining"
          />
        </div>
      </div>
    </div>

    <div class="col-5 col-xxl-3" *ngIf="showIsChallengeMode">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="isCm">Challenge Mode</label></div>
        <div class="col">
          <input id="isCm" class="form-check-input" type="checkbox" [(ngModel)]="globalSettings.isCoxChallengeMode" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">General Settings</div>

  <div class="col col-sm-3">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="teamSize">Team size</label></div>
      <div class="col">
        <input
          id="teamSize"
          class="form-control"
          type="number"
          [(ngModel)]="globalSettings.teamSize"
          min="1"
          max="100"
        />
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Prayers</div>
  <div class="col">
    <div class="row">
      <div class="col-auto" *ngFor="let attackType of allAttackTypes">
        <div class="row align-items-center">
          <div class="col-auto"><img src="assets/img/skills/{{ attackType }}.png" /></div>
          <div class="col-auto me-4">
            <app-prayer-selection
              [quickPrayers]="quickPrayers[attackType]"
              [selectedPrayers]="selectedPrayers[attackType]"
              (prayerToggle)="toggleAttackTypePrayer($event, attackType)"
            ></app-prayer-selection>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Boost</div>
  <div class="col-auto">
    <app-boost-selection [selectedBoosts]="selectedBoosts" (boostToggle)="toggleBoost($event)"></app-boost-selection>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Combat Stats</div>
  <div class="col col-lg-6 col-xl-6">
    <app-combat-stat-selection
      [combatStats]="combatStats"
      (combatStatsChanged)="combatStatsChanged($event)"
    ></app-combat-stat-selection>
  </div>
  <div class="col ms-3">
    <app-highscore-lookup (loadCombatStats)="loadCombatStats($event)"></app-highscore-lookup>
  </div>
</div>

<ng-container *ngIf="userSettingsWatch$ | async as userSettingsWatch">
  <ng-container *ngIf="userSettingsWatch.showAdvancedOptions">
    <div class="row mb-3 align-items-center">
      <div class="col-2">Attack cycle</div>
      <div class="col col-lg-6 col-xl-6">
        <app-attack-cycle
          [attackCycle]="attackCycle"
          (attackCycleChanged)="attackCycleChanged($event)"
        ></app-attack-cycle>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="userSettingsWatch.showTrailblazerReloadedRelics">
    <div class="row mb-3 align-items-center">
      <div class="col-2">Relics</div>
      <div class="col col-lg-6 col-xl-6">
        <app-trailblazer-relics
          [trailblazerRelics]="trailblazerRelics"
          (trailblazerRelicsChanged)="trailblazerRelicsChanged($event)"
        ></app-trailblazer-relics>
      </div>
    </div>
  </ng-container>
</ng-container>

<div class="row mb-4">
  <div class="col-2">Global Stat Drain</div>
  <div class="col col-lg-5 col-xl-6">
    <app-stat-drain-selection
      [statDrains]="statDrains"
      (statDrainsChanged)="statDrainChanged($event)"
    ></app-stat-drain-selection>
  </div>
</div>
