<div class="mb-4">
  <div class="row mb-1 align-items-center">
    <div class="col-2">Npc Settings</div>
    <app-npc-input
      class="col-10 col-xxl-6"
      [selectedNpc]="globalSettings.npc"
      (npcChanged)="npcChanged($event)"
    ></app-npc-input>
  </div>

  <div class="row align-items-center" *ngIf="showRaidLevel || showPathLevel || showIsChallengeMode">
    <div class="col-2">Other Settings</div>
    <div class="col-5 col-xxl-3" *ngIf="showRaidLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="raidLevel">Raid Level</label></div>
        <div class="col">
          <input id="raidLevel" class="form-control" type="number" [(ngModel)]="globalSettings.raidLevel" min="0" />
        </div>
      </div>
    </div>

    <div class="col-5 col-xxl-3" *ngIf="showPathLevel">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="pathLevel">Path Level</label></div>
        <div class="col">
          <input
            id="pathLevel"
            class="form-control"
            type="number"
            [(ngModel)]="globalSettings.pathLevel"
            min="0"
            max="6"
          />
        </div>
      </div>
    </div>

    <div class="col-5 col-xxl-3" *ngIf="showIsChallengeMode">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="isCm">Challenge Mode</label></div>
        <div class="col">
          <input id="isCm" class="form-check-input" type="checkbox" [(ngModel)]="globalSettings.isCoxChallengeMode" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Settings</div>

  <div class="col col-sm-5 col-lg-3">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="teamSize">Team size</label></div>
      <div class="col">
        <input
          id="teamSize"
          class="form-control"
          type="number"
          [(ngModel)]="globalSettings.teamSize"
          min="1"
          max="100"
        />
      </div>
    </div>
  </div>

  <div class="col col-sm-5 col-lg-3" *ngIf="mode === Mode.DamageSim">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="iterations">Iterations</label></div>
      <div class="col">
        <input
          id="iterations"
          class="form-control"
          type="number"
          [(ngModel)]="globalSettings.iterations"
          min="1"
          [max]="globalSettings.isDetailedRun ? 5000 : 10000"
        />
      </div>
    </div>
  </div>

  <div class="col col-sm-5 col-lg-3" *ngIf="mode === Mode.DamageSim">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="isDetailedRun">Detailed run</label></div>
      <div class="col">
        <input
          #isDetailedRun
          id="isDetailedRun"
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="globalSettings.isDetailedRun"
          (change)="onDetailedRunChanged(isDetailedRun.checked)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center" style="height: 38px">
  <div class="col-2">Continuous Sim Settings</div>

  <div class="col-auto">
    <div class="row align-items-center">
      <div class="col-auto pe-0"><label for="enableContinuous">Enable</label></div>
      <div class="col-auto">
        <input
          id="enableContinuous"
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="globalSettings.continuousSimSettings.enabled"
        />
      </div>
    </div>
  </div>

  <ng-container *ngIf="globalSettings.continuousSimSettings.enabled">
    <div class="col-auto">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="deathCharge">Death charge</label></div>
        <div class="col">
          <input
            id="deathCharge"
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="globalSettings.continuousSimSettings.deathCharge"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="killCount">Kill count</label></div>
        <div class="col">
          <input
            id="killCount"
            class="form-control"
            type="number"
            [(ngModel)]="globalSettings.continuousSimSettings.killCount"
            min="1"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row align-items-center">
        <div class="col-auto pe-0"><label for="respawnTicks">Respawn ticks</label></div>
        <div class="col">
          <input
            id="respawnTicks"
            class="form-control"
            type="number"
            [(ngModel)]="globalSettings.continuousSimSettings.respawnTicks"
            min="0"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Prayers</div>
  <div class="col">
    <div class="row">
      <div class="col-auto" *ngFor="let attackType of allAttackTypes">
        <div class="row align-items-center">
          <div class="col-auto"><img src="assets/img/skills/{{ attackType }}.png" /></div>
          <div class="col-auto me-4">
            <app-prayer-selection
              [quickPrayers]="quickPrayers[attackType]"
              [selectedPrayers]="selectedPrayers[attackType]"
              (prayerToggle)="toggleAttackTypePrayer($event, attackType)"
            ></app-prayer-selection>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Boost</div>
  <div class="col-auto">
    <app-boost-selection [selectedBoosts]="selectedBoosts" (boostToggle)="toggleBoost($event)"></app-boost-selection>
  </div>
</div>

<div class="row mb-4 align-items-center">
  <div class="col-2">Global Combat Stats</div>
  <div class="col col-lg-6 col-xl-6">
    <app-combat-stat-selection
      [combatStats]="combatStats"
      (combatStatsChanged)="combatStatsChanged($event)"
    ></app-combat-stat-selection>
  </div>
  <div class="col ms-3">
    <app-highscore-lookup (loadCombatStats)="loadCombatStats($event)"></app-highscore-lookup>
  </div>
</div>

<div class="row mb-4">
  <div class="col-2">Global Stat Drain</div>
  <div class="col col-lg-5 col-xl-6">
    <app-stat-drain-selection
      [statDrains]="statDrains"
      (statDrainsChanged)="statDrainChanged($event)"
    ></app-stat-drain-selection>
  </div>
</div>
