<div *ngIf="gearSetup && allGearSlotItems; else showSpinner">
  <div class="d-flex mb-2 justify-content-center">
    <div class="">
      <h3 class="text-end">Name:</h3>
    </div>
    <div class="ms-2">
      <input class="form-control" type="text" [(ngModel)]="gearSetup.setupName" placeholder="Setup name" />
    </div>

    <ng-template #saveGearSetupPop let-error="error">
      <div *ngIf="error" class="text-danger">
        {{ error }}
      </div>
      <div *ngIf="error === undefined" class="text-success">Saved!</div>
    </ng-template>
    <div class="ms-1">
      <button
        type="button"
        class="btn btn-primary"
        [ngbPopover]="saveGearSetupPop"
        triggers="manual"
        #saveGearPopover="ngbPopover"
        (click)="saveGearSetup(saveGearPopover)"
      >
        Save <i class="bi bi-download"></i>
      </button>
    </div>
  </div>

  <div class="mb-2 d-flex align-items-center">
    <div>Load setup:</div>
    <div class="ms-2 flex-grow-1">
      <ng-select
        [(ngModel)]="gearSetup.presetName"
        [clearable]="false"
        [items]="allGearSetupPresets"
        bindValue="name"
        bindLabel="name"
        groupBy="attackType"
        (change)="loadGearSetupPreset($event)"
      >
        <ng-template ng-label-tmp let-item="item">{{ item.name }}</ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="d-flex align-items-center">
            <div class="text-center" style="width: 35px">
              <img src="data:image/png;base64,{{ item.icon }}" />
            </div>
            <div class="ps-2">{{ item.name }}</div>
            <div *ngIf="!item.isDefault" class="ms-auto">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteUserGearSetup($event, item.name)"
              >
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
          <div class="d-flex align-items-center">
            <img style="width: 15px; height: auto" src="assets/img/skills/{{ item.attackType }}.png" />
            <div class="ms-1">{{ item.attackType | titlecase }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <ng-container *ngIf="(userSettingsWatch$ | async)?.showLoadFromRunelite">
      <ng-template #loadRlSetupPop let-error="error">
        <div *ngIf="error" class="text-danger">
          {{ error }}
        </div>
        <div *ngIf="error === undefined" class="text-success">Loaded!</div>
      </ng-template>
      <div class="ms-1">
        <button
          type="button"
          class="btn btn-primary py-0 px-1"
          style="height: 37px"
          [ngbPopover]="loadRlSetupPop"
          triggers="manual"
          #loadRlPopover="ngbPopover"
          (click)="loadGearSetupFromRunelite(loadRlPopover)"
          [disabled]="isLoadingFromRl"
        >
          <div class="d-flex justify-content-center align-content-center" style="width: 30px">
            <ng-container *ngIf="isLoadingFromRl">
              <span class="spinner-border spinner-border-sm"></span>
            </ng-container>
            <ng-container *ngIf="!isLoadingFromRl">
              <img class="rounded img-fluid" src="assets/img/other/runelite.jpg" title="Load from Runelite" />
            </ng-container>
          </div>
        </button>
      </div>
    </ng-container>
  </div>

  <div class="mb-3 d-flex flex-wrap align-items-center">
    <div class="btn-group me-2" role="group" style="height: '45px'">
      <ng-container *ngFor="let attackType of allAttackTypes">
        <input
          type="radio"
          class="btn-check"
          style="width: '50px'"
          [title]="attackType"
          id="{{ attackType + setupCount + gearSetupTabRef.id }}"
          (click)="setAttackType(attackType)"
          [checked]="attackType === currentAttackType"
        />
        <label class="btn btn-outline-secondary" for="{{ attackType + setupCount + gearSetupTabRef.id }}">
          <img src="assets/img/skills/{{ attackType }}.png" />
        </label>
      </ng-container>
    </div>

    <div>
      <app-gear-set-select
        [attackType]="currentAttackType"
        (selectSetup)="selectGearSetSetup($event)"
      ></app-gear-set-select>
    </div>

    <div class="ms-1">
      <button *ngIf="quickGearSetLabel" type="button" class="btn btn-outline-dark" (click)="equipQuickGearSet()">
        Equip {{ quickGearSetLabel }} set
      </button>
    </div>
  </div>

  <div class="d-flex flex-wrap mb-2 align-items-center" *ngFor="let slot of allGearSlots">
    <div class="text-center pe-2" style="width: 45px">
      <ng-container *ngIf="gearSetup.gear[slot]; else placeholder">
        <img src="data:image/png;base64,{{ gearSetup.gear[slot].icon }}" />
      </ng-container>
      <ng-template #placeholder><img src="assets/img/equip/slot_{{ slot }}.png" /></ng-template>
    </div>

    <div class="flex-grow-1">
      <app-ng-select-lazy-load
        [selectedValue]="gearSetup.gear[slot]"
        [valueType]="Item"
        [allValues]="allGearSlotItems[slot]"
        searchProperty="name"
        (valueChanged)="gearSlotChange($event, slot)"
      >
        <ng-template #dropdownLabel let-item="item">{{ item.name }}</ng-template>
        <ng-template #dropdownOptions let-item="item">
          <div class="d-flex align-items-center">
            <div class="text-center" style="flex: 0 0 35px">
              <img src="data:image/png;base64,{{ item.icon }}" />
            </div>
            <div class="ps-2">{{ item.name }}</div>
          </div>
        </ng-template>
      </app-ng-select-lazy-load>
    </div>

    <app-special-gear
      class="d-flex"
      [gearSetup]="gearSetup"
      [specialGear]="specialGear"
      [slot]="slot"
      [allDarts]="allDarts"
    ></app-special-gear>

    <app-quick-gear-select
      class="d-flex"
      [gearSlot]="slot"
      [attackType]="currentAttackType"
      (equipGear)="gearSlotChange($event, slot)"
    ></app-quick-gear-select>
  </div>

  <div class="mb-3">
    <div class="row mb-3 align-items-center">
      <div class="col-3"><label>Attack style</label></div>
      <div class="col-9">
        <ng-select [(ngModel)]="gearSetup.attackStyle" (change)="gearSetup.spell = null">
          <ng-option *ngFor="let style of attackStyles" [value]="style">{{ style }}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3"><label>Spell</label></div>
      <div class="col-9">
        <ng-select [items]="allSpells" [(ngModel)]="gearSetup.spell" (change)="selectedSpellChange()">
          <ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index">
            <div class="row">
              <div class="col-1"><img src="assets/img/magic_spells/{{ item }}.png" /></div>
              <div class="col-auto">{{ item }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-3">Prayer</div>
      <div class="col">
        <app-prayer-selection
          [selectedPrayers]="gearSetup.prayers"
          (prayerToggle)="togglePrayer($event)"
        ></app-prayer-selection>
      </div>
    </div>
  </div>
</div>

<ng-template #showSpinner>
  <div class="d-flex align-items-center justify-content-center">
    <div>Loading items</div>
    <div class="spinner-border ms-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
