<div>
    <div class="row mb-3 align-items-center">
        <div class="col-2">Npc</div>
        <div class="col">
            <ng-select [(ngModel)]="selectedNpcId" (change)="selectedNpcChange($event)">
                <ng-option *ngFor="let npc of allNpcs | keyvalue" [value]="npc.key">
                    {{npc.value.name}} (Lvl: {{npc.value.combat}}, HP:  {{npc.value.hitpoints}})
                </ng-option>
            </ng-select>
        </div>

        <div class="col-auto" *ngIf="allNpcs && allNpcs[selectedNpcId]?.isKalphite">
            <div class="row align-items-center">
                <div class="col">Kalphite</div>
                <!-- todo image or something, allow to uncheck? -->
            </div>
        </div>
        <div class="col-auto" *ngIf="allNpcs && allNpcs[selectedNpcId]?.isDemon">
            <div class="row align-items-center">
                <div class="col">Demon</div>
                <!-- todo image or something, allow to uncheck? -->
            </div>
        </div>
        <!-- todo other types -->

        <div class="col-2" *ngIf="showRaidLevel">
            <div class="row align-items-center">
                <div class="col text-end"><label>Raid Level</label></div>
                <div class="col"><input class="form-control" type="number" [(ngModel)]="raidLevel" min="0"></div>
            </div>
        </div>
        <div class="col-2" *ngIf="showPathLevel">
            <div class="row align-items-center">
                <div class="col text-end"><label>Path Level</label></div>
                <div class="col"><input class="form-control" type="number" [(ngModel)]="pathLeveL" min="0"></div>
            </div>
        </div>
    </div>        
</div>
