<div class="row justify-content-center">
  <div class="col">
    <div class="row mb-2">
      <div class="col"><h5 class="text-center">Gear Setup Settings</h5></div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-2">Combat Stats</div>
      <div class="col">
        <app-combat-stat-selection
          [combatStats]="gearSetupSettings.combatStats"
          (combatStatsChanged)="combatStatsChanged($event)"
        ></app-combat-stat-selection>
      </div>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-2">Boosts</div>
      <div class="col">
        <app-boost-selection
          [selectedBoosts]="gearSetupSettings.boosts"
          (boostToggle)="toggleBoost($event)"
        ></app-boost-selection>
      </div>
    </div>

    <ng-container *ngIf="userSettingsWatch$ | async as userSettingsWatch">
      <ng-container *ngIf="userSettingsWatch.showAdvancedOptions">
        <div class="row mb-3 align-items-center">
          <div class="col-2">Attack cycle</div>
          <div class="col">
            <app-attack-cycle
              [attackCycle]="gearSetupSettings.attackCycle"
              (attackCycleChanged)="attackCycleChanged($event)"
            ></app-attack-cycle>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userSettingsWatch.showTrailblazerReloadedRelics">
        <div class="row mb-3 align-items-center">
          <div class="col-2">Relics</div>
          <div class="col">
            <app-trailblazer-relics
              [trailblazerRelics]="gearSetupSettings.trailblazerRelics"
              (trailblazerRelicsChanged)="trailblazerRelicsChanged($event)"
            ></app-trailblazer-relics>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userSettingsWatch.showRagingEchoLeagues">
        <div class="row mb-3 align-items-center">
          <div class="col-2">Raging Echoes Leagues</div>
          <div class="col">
            <app-raging-echoes
              [ragingEchoesSettings]="gearSetupSettings.ragingEchoesSettings"
              (ragingEchoesSettingsChange)="ragingEchoesSettingsChanged($event)"
            ></app-raging-echoes>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="row mb-3">
      <div class="col-2">Stat Drain</div>
      <div class="col">
        <app-stat-drain-selection
          [statDrains]="gearSetupSettings.statDrains"
          (statDrainsChanged)="statDrainsChanged($event)"
        ></app-stat-drain-selection>
      </div>
    </div>
    <hr class="row mx-0" />
  </div>
</div>
